.dashboard-main {
    height: 2000px;
    width: 100%;
    margin-top: 64px;
    padding-top: 36px;
    background-color: white;

    .dashboard-main-content {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.dashboard-left-side {
    flex: 0 0 66.7%;
    padding: 0 6px;
}

.dashboard-right-side {
    flex: 0 0 27.3%;
    padding: 0 6px;
    height: 859px;
}

.dashboard-main-graph-section {
    width: 676px;
    height: 349px;
    margin-bottom: 44px;

    .dashboard-main-graph-header {
        height: 95px;
        margin-bottom: 12px;

        .main-graph-portfolio-value-div {
            display: flex;
            position: relative;
            align-items: center;
            height: 40px;
            margin-bottom: 10px;

            .main-graph-portfolio-value-heading {
                margin: 0px;
                font-size: 32px;
                font-weight: 500;
            }
        }

        .main-graph-portfolio-value-change-div {
            padding-top: 2px;
        }
    }
}

.main-graph-portfolio-value-change-span {
    font-size: 13px;
    font-weight: 600;
    margin-right: 5px;

    .main-graph-portfolio-value-change-amount {
        margin-right: 3px;
    }
}

.main-graph-portfolio-value-today-span {
    font-size: 13px;
}

.dashboard-main-graph-container {
    height: 196px;

    img {
        height: 196px;
        width: 676px;
    }
}

.dashboard-main-graph-nav {
    margin-top: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(227, 233, 237);

    .main-graph-nav-buttons-div {
        height: 33px;

        button {
            border: none;
            outline: none;
            background-color: white;
            font-size: 12px;
            font-weight: 600;
            padding-bottom: 17px;
            padding-right: 10px;
        }

        button:hover {
            cursor: pointer;
            color: rgb(0, 180, 5);
        }

        button:focus {
            border-bottom: 2px solid rgb(0, 180, 5);
        }
    }
}

.dashboard-main-buying-power-container {
    width: 676px;
    height: 73px;
    margin-top: -24px;
    margin-bottom: 60px;

    .dashboard-main-buying-power-button-div {
        width: inherit;
        height: inherit;
        border-bottom: 1px solid rgb(227, 233, 237);

        .dashboard-main-buying-power-button {
            width: inherit;
            height: inherit;
            border: none;
            outline: none;
            background-color: white;

            .dashboard-main-buying-power-button-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
                font-weight: 600;
                height: inherit;
            }
        }

        .dashboard-main-buying-power-button:hover {
            cursor: pointer;
            background-color: #ececec;
            border-radius: 5px;
        }
    }
}

.dashboard-main-popular-lists-container {
    height: 175px;
    padding: 24px 0;
}

.popular-lists-content {
    height: inherit;
}

.popular-lists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.popular-lists-links-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 132px;
    margin-bottom: -8px;

    .popular-div {
        display: inline-block;
        margin-bottom: 8px;
        margin-right: 8px;

        .popular-content {
            -webkit-box-align: center;
            align-items: center;
            border: 1px solid #d6d6d6;
            border-radius: 20px;
            display: inline-flex;
            height: 36px;
            padding-right: 16px;

            .popular-img-div {
                margin: 0px 8px 0px 6px;

                img {
                    border-radius: 12px;
                    display: block;
                    height: 24px;
                    object-fit: cover;
                    object-position: center center;
                    width: 24px;
                }
            }
        }

        .popular-content:hover {
            background-color: #ececec;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.popular-lists-heading-container {
    h3 {
        font-size: 21px;
        font-weight: 500;
    }
}

.popular-lists-show-more-link {
    text-decoration: none;
    color:rgb(0, 180, 5);
    font-size: 13px;
}

.news-header {
    margin-bottom: 0px;

    .news-heading-container {
        padding-bottom: 16px;
        border-bottom: 1px solid rgb(227, 233, 237);

        span {
            font-size: 24px;
            font-weight: 500;
        }
    }
}

.news-show-new-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid rgb(227, 233, 237);

    span {
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(229, 250, 229);
        border-radius: 17px;
        display: inline-flex;
        color: rgb(0, 200, 5);
        height: 28px;
        overflow: hidden;
        padding: 0px 12px 1px;
        font-weight: 500;
        cursor: pointer;
    }

    span:hover {
        color: white;
        background-color: rgb(17, 221, 24);
    }
}

.news-articles-container {
    display: flex;
    flex-direction: column;

    .news-article-div {
        height: 155px;
        padding: 0 2px;
        border-bottom: 1px solid #e3e9ed;

        article {
            height: 106px;
            width: 100%;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-flow: column nowrap;
            position: relative;
            transition: background .15s;
            margin: -1px -24px;
            padding: 25px 24px;

            a {
                text-decoration: none;
                color: black;
            }
        }

        article:hover {
            background-color: #ececec;
            cursor: pointer;
        }
    }
}

.article-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .article-heading {
        font-size: 13px;

    }
}

.article-heading-button-container:hover {
    color:rgb(0, 180, 5);
}

.article-heading-svg-span {
    margin-right: 8px;
}

.article-content-text-div {
    display: flex;
    min-height: 56px;
    margin-bottom: 8px;
    line-height: 25px;

    span {
        font-size: 16px;
    }
}

.article-heading-text {
    margin-right: 8px;
    font-weight: 600;
}

.article-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-content {
    flex-flow: column nowrap;
    flex: 1;
}

.article-content-link-div {

    a span:hover {
        color: rgb(0, 200, 5);
    }
}

.article-content-link-tikr-span {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: fangsong;
}

.article-content-link-tikr-percent {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: fangsong;
}

.article-img-div {
    margin-left: 24px;
    display: flex;
    width: 130px;
    box-sizing: inherit;
    height: 78px;

    img {
        width: inherit;
        height: inherit;
        border-radius: 4px;
    }
}

.dashboard-left-side-footer {
    margin-top: 30px;
    margin-bottom: 60px;

    span {
        font-size: 13px;
        color: rgb(180, 189, 194);
    }

    a {
        text-decoration: none;
        color: rgb(0, 180, 5);
    }
}

.dashboard-sidebar-container {
    margin-bottom: -64px;
    height: inherit;
    position: fixed;
    width: 276px;
    box-shadow: 2px -1px 12px 12px #f4f4f4;
}

.sidebar-portfolio-container {
    height: inherit;

    .sidebar-header-container {
        height: 52px;
    }

}

.sidebar-header-container {
    height: inherit;

    .sidebar-header {
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px 0px;
        border-bottom: 1px solid rgb(227, 233, 237);

        a {
            text-decoration: none;
            color: black;
            font-size: 15px;
            font-weight: 600;
        }

        a:hover {
            color: rgb(0, 180, 5)
        }
    }
}

.assets-items-div {

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 24px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid rgb(227, 233, 237);
    }

    a:hover {
        background-color: #ececec;
    }
}

.asset-item-left {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.asset-item-right {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.asset-item-name {
    font-size: 13px;
    font-weight: 600;
}

.asset-items-shares {
    font-size: 13px;
}

.asset-item-percent-change {
    color: rgb(0, 180, 5)
}

.asset-item-right {
    font-size: 13px;
}

.sidebar-create-watchlist-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 24px;
    border-bottom: 1px solid rgb(227, 233, 237);

    span {
        font-size: 15px;
        font-weight: 600;
    }
}

.sidebar-header-button {
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sidebar-header-button:hover {
    cursor: pointer;
    color: rgb(0, 180, 5)
}

.sidebar-header-button:focus {
    outline: none !important;
}

.sidebar-create-watchlist-button {
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

    span {
        font-size: 20px;
    }
}

.sidebar-create-watchlist-button:hover {
    cursor: pointer;
    color: rgb(0, 180, 5)
}

.sidebar-create-watchlist-button:focus {
    outline: none !important;
}
